{% extends "base.html"%}

{%block content%}
<div class="row">
    {% verbatim %}
    <div class="col-3" id="liftsColumn">
        <h3>Дата</h3>
        <input type='date' v-model="currentDay" id='liftsDate' v-on:change='getLifts'>
        <div id="liftsArea">
            <h3>Подъемы</h3>
            <div class="accordion" id="lifts-accordion">
                <lift-item v-for="(lift, index) in liftsList"
                            v-bind:key="lift.id"
                            v-bind:lift="lift"
                            v-bind:index="index">
                </lift-item>
            </div>
            <div v-if="liftsList.length == 0">Подъемы отсутствуют.</div>
        </div>
    </div>
    <div class="col-9" id="requestsArea">
        <h3>Заявки</h3>
        <b-tabs content-class="mt-3">
            <b-tab v-for="(disc, index) in disciplinesList" :key="disc.id" :title="disc.short_name + ' (' + disc.skydiverrequest_set.length + ')'">
                <draggable v-model="disc.skydiverrequest_set" group="requests" @start="drag=true" @end="onDragEnd" class="list-group">
                    <div v-for="request in disc.skydiverrequest_set" :key="request.id" class="list-group-item">
                        {{ request.skydiver_last_name }} {{ request.skydiver_first_name }}, {{ request.height }} м
                        <div> {{ request.creationStamp }}</div>
                    </div>
                </draggable>
                <div v-if="disc.skydiverrequest_set == 0">Заявки отсутствуют.</div>
            </b-tab>
        </b-tabs>
    </div>
    {% endverbatim%}
</div>

{%endblock%}