{% extends "base.html"%}

{%block content%}
<div class="row">
    {% verbatim %}
    <div class="col-3" id="liftsColumn">
        <h3>Дата</h3>
        <input type='date' v-model="currentDay" id='liftsDate' v-on:change='getLifts'>
        <div id="liftsArea">
            <div class="accordion-item" v-for="(lift, index) in liftsList" :key="lift.id">
                <h3 class="accordion-header" :id="'heading' + lift.plane_reg_number + '_' + lift.ord_number">
                    <button class="accordion-button" :class="index == 0 ? '' : 'collapsed'" type="button"
                            data-bs-toggle="collapse" :data-bs-target="'#collapse' + lift.plane_reg_number + '_' + lift.ord_number"
                            :aria-expanded=" index == 0 ? 'true' : 'false'" :aria-controls="'collapse' + lift.plane_reg_number + '_' + lift.ord_number">
                        {{ lift.ord_number }}. {{ lift.plane_reg_number }}
                    </button>
                </h3>
                <div :id="'collapse' + lift.plane_reg_number + '_' + lift.ord_number"
                    class="accordion-collapse collapse" :class=" index == 0 ? 'show' : ''"
                    :aria-labelledby="'heading' + lift.plane_reg_number + '_' + lift.ord_number" data-bs-parent="#liftsGroup">
                    <div class="accordion-body">
                        <ul :id="'list-group-' + lift.plane_reg_number + '_' + lift.ord_number" class="list-group">
                            <li v-for="request in lift.requests" :key="request.id" :id="'req_' + request.id" class="list-group-item">
                                <div>{{ request.name }}</div>
                            </li>
                        </ul>
                        <div v-if="lift.requests.length == 0">Заявки отсутствуют.</div>
                    </div>
                </div>
            </div>
            <div v-if="liftsList.length == 0">Подъемы отсутствуют.</div>
        </div>
    </div>
    <div class="col-9" id="requestsArea">
    </div>
    {% endverbatim%}
</div>

{%endblock%}